pkgbase = linux-grsrv
	pkgver = 3.13.8
	pkgrel = 2
	url = http://www.kernel.org
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = kmod
	options = !strip
	source = http://www.kernel.org/pub/linux/kernel/v3.x/linux-3.13.tar.xz
	source = config-3.13-server.i686
	source = config-3.13-server.x86_64
	source = linux-grsrv.preset
	source = http://www.kernel.org/pub/linux/kernel/v3.x/patch-3.13.8.xz
	source = http://grsecurity.net/test/grsecurity-3.0-3.13.8-201404031157.patch
	source = http://grsecurity.net/test/grsecurity-3.0-3.13.8-201404031157.patch.sig
	sha256sums = 4d5e5eee5f276424c32e9591f1b6c971baedc7b49f28ce03d1f48b1e5d6226a2
	sha256sums = 827b3be74673388ee54c210014ec4227ab909360740067763c604e3307170507
	sha256sums = 80c0a38f50f50bbab8c469d57dd50123558ecc396a18ae2a4546b8b42fefaaa5
	sha256sums = 64b2cf77834533ae7bac0c71936087857d8787d0e2a349037795eb7e42d23dde
	sha256sums = 073a392f4d156955df26a09c3236faf375da0afc49077e6b805f5788b8fffb10
	sha256sums = ce3042847ac5bd66aee31ff3c3c9f8adde5291abd53e215268b68df190d12ce8
	sha256sums = SKIP

pkgname = linux-grsrv
	pkgdesc = The Linux Kernel and modules, Grsecurity Server Edition
	install = linux-grsrv.install
	depends = coreutils
	depends = kmod>=10
	depends = mkinitcpio>=0.9
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: when having some hardware needing special firmware
	provides = linux
	backup = etc/mkinitcpio.d/linux-grsrv.preset

pkgname = linux-grsrv-headers
	pkgdesc = Header files and scripts for building modules for linux-grsrv
	provides = linux-headers

